Repository CharlesTenorioDev/meli-fresh-products-api-backend-go, pull requests merged in 2025-01, with the labels that each got.

#24 Locality and Seller Endpoints
  Dockerfile
  cmd/main.go
  docker-compose.yml
  docs/db/melifresh_db.sql
  go.mod
  go.sum
  internal/application/application_default.go
  internal/dto/seller_dto.go
  internal/error.go
  internal/handler/locality.go
  internal/handler/seller.go
  internal/handler/seller_test.go
  internal/locality.go
  internal/repository/locality_mysql.go
  internal/repository/seller_map.go
  internal/repository/seller_mysql.go
  internal/seller.go
  internal/service/locality.go
  internal/service/seller.go
  utils/validator/float.go
  utils/validator/int.go
  utils/validator/string.go
Labels: enhancement

#58 fix: moved the integration tests to the integration folder, isolating…
  test/integration/buyer_mysql_test.go
  test/integration/carries_test.go
  test/integration/employee_test.go
  test/integration/inbound_orders_test.go
  test/integration/purchase_order_mysql_test.go
Labels: test-integration

#71 tests/locality-and-seller-mysql-tests
  internal/handler/locality_test.go
  internal/repository/locality_mysql.go
  internal/repository/locality_mysql_test.go
  internal/repository/seller_map.go
  internal/repository/seller_mysql.go
  internal/repository/seller_mysql_test.go
Labels: test-unit

#64 Refactor warehouse and purchase order
  internal/handler/purchase_order.go
  internal/handler/warehouse.go
  internal/handler/warehouse_test.go
  internal/purchase_order.go
  internal/service/purchase_order.go
  internal/service/warehouse_default.go
  internal/service/warehouse_test.go
  internal/warehouse.go
  utils/resterr/resterr.go
  utils/resterr/resterr_test.go
  utils/validator/string.go
Labels: enhancement, test-unit
